<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>抢购</title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/killstore.css" />
		<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
		<script type="application/javascript" src="js/bootstrap.min.js"></script>
		<script type="application/javascript" src="js/webstore.js"></script>
	</head>
	<body>
		<div class="top">
			<ul>
				<li><a href="/login" th:text="${session.user == null}?'亲，请登录':'欢迎您:'+${session.user.getName()}"></a></li>
				<li><a href="/">书城首页</a></li>
				<li><a href="/orderItem">订单管理</a></li>
			</ul>
		</div>
		<div class="killstore_center">
			<div class="index_center_logo"><img src="images/dangdang.png"/></div>
			<div class="killstore_center_search">
				<img src="images/seckill.jpg" style="width: 700px;height: 150px;">
			</div>
		</div>
		<div class="killstore_link">
			<span>限时闪购</span>
			<div class="killstore_seckill">
				<span>0</span>
				<span>0</span>
				<span>:</span>
				<span>0</span>
				<span>0</span>
				<span>:</span>
				<span>0</span>
				<span>0</span>
			</div>
		</div>
		<div class="killstore_main">


			<div th:each="product:${productList}" class="aa">
				<input type="hidden" id="seckill_id" th:value="${product.getId()}">
				<input type="hidden" id="seckill_type" th:value="${product.getType()}">
				<input type="hidden" id="seckill_name" th:value="${product.getName()}">
				<input type="hidden" id="seckill_stock" th:value="${product.getStock()}">
				<input type="hidden" id="seckill_userId" th:value="${session.user.getId()}">
				<input type="hidden" id="seckill_price" th:value="${product.getPrice()}">
				<ul style="list-style-type: none;">
					<li>
						<img style="width: 200px;height: 200px;" th:src="'/'+${product.getImgPath()}" alt=""></a>
						<p th:text="${product.getName()}">
						<p th:text="'原价：'+${product.getPrice()}+'元'"></p>
						<p th:text="'惊爆价：'+${product.getPrice()/10+'元'}"></p>
						<p th:text="'剩余：'+${product.getStock()+'本'}"></p>
						<input id="btn_shop" type="button" value="立即抢购" onclick="seckill()"/>
					</li>
				</ul>
			</div>

		</div>
		<div class="killstore_copyright">&copy;jinan vocational collage</div>
		<script src="js/killstore.js"></script>
	</body>
</html>
